<div class="container">
	<h1>New Group</h1>
<div class="new_group_container">
	<div class="new_group">
		<%= render 'form', group: @group %>

		<%= link_to 'Back', groups_path %>
	</div><!--new_group-->
</div><!--new_group_container-->
</div><!--container-->