<h1>Welcome</h1>
<div class="btn btn-secondary btn-lg btn-block">
<%= link_to 'Groups', groups_path %>
</div>
<div class="btn btn-secondary btn-lg btn-block">
<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>
</div>