<!DOCTYPE html>
<html>
<head>
	<title>tableplace</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
</head>
<div class="container">
	<body>
		<div id="home">
			<h1>tableplace</h1>
			<div id="logregbox">
				<div id="logreg">
					<h3><a href="">login</a></h3>
					<h3>|</h3>
					<h3><a href="">register</a></h3>
				</div><!--logreg-->
			</div><!--logregbox-->
			<h4>Create your next tabletop adventure.</h4>
		</div><!--home-->
	</body>
</div>
</html>