<div class="container">
  <h1>Profile</h1>

  <div class="new_group_container">
    <div class="sign_up_container">
      <p id="notice"><%= notice %></p>
      <div class="image">
        <% if @users.image? %>
          <%= link_to (image_tag user.image.url, class: "group-index"), user %>
        <% end %>
      </div><!--image-->
      <div class="group_info">
        <p>
          <strong>username:</strong>
          <%= @users.username %>
        </p>

        <p>
          <strong>email:</strong>
          <%= @users.email %>
        </p>

       <button> <a>Edit</a> <% link_to "Edit", edit_user_registration_path %> </button>
      </div><!--group_info-->
  </div>
</div>
</div>
