@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	width: 100%;
	height: 100%;
}
body {
	background-color: #e6e2eb;/*#F0F0F6;*/ /*#77657a;*/ /*OR #776a7a;*/
background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	padding-top: 80px;
	font-family: "Helvetica Neue", sans-serif;
}
#info_body {
	background-color: #f7f7f7;
	background-image: none;
}
p {
	color: #3E345D;
}
a {
	color: #3E345D;
}
/*info page*/
.hero {
	height: 650px;
	width: 100%;
	background-image: linear-gradient(0deg,rgba(255,255,255,0.7),rgba(90,112,237,0.4)), url(game_hero_image.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 40px;
	display: block;
}
.hero_title h1 {
	color: #E2F9D5;
	text-shadow: 1px 1px 5px #3E345D;
	font-size: 165px;
}
.hero h2 {
	width: 40%;
	float: left;
	margin-top: 125px;
	margin-left: 40px;
	padding: none;
	font-size: 90px;
	color: #f7f7f7;
	text-shadow: 1px 1px 7px #3E345D;
}
.hero_right_content {
	float: right;
	width: 55%;
	margin-top: 100px;
}
.top_log_sign_links {
	float: right;
	margin-right: 100px;
	margin-bottom: 180px;
}
	.top_log_sign_links a {
		padding: 10px 18px;
		margin: 0 20px;
		text-decoration: none;
		font-size: 20px;
		text-align: center;
		background: #5f5287;
		color: #fff;
		border: solid 2px #5f5287;
		border-radius: 8px;
		width: 50px;
		height: 30px;
	}
.row img {
	height: 380px;
	width: 660px;
	margin: 0 40px;
	display: cover;
}
.img_1_text {
	font-size: 25px;
	width: 50%;
	margin-left: 15px;
}
	.img_1_text h1, .img_2_text h1 {
		color: #3E345D;
		margin-bottom: 30px;
	}
	.img_1_text h3, .img_2_text h3 {
		color: #484C52;
		line-height: 50px;
		font-weight: 400;
		font-family: Arial, sans-serif;
	}
.img_2_text {
	font-size: 25px;
	width: 50%;
	margin-right: 15px;
}
.row {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 500px;
	width: 100%;
}
.index_content {
	height: auto;
	margin: auto;
	display: block;
}
#get_started {
	font-size: 70px;
	color: #3E345D;
	text-align: center;
	margin: 40px 0;
}
#log_sign_links {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 100%;
	margin: 0 auto;
}
	#log_sign_links a {
		padding: 10px 18px;
		margin: 0 20px;
		text-decoration: none;
		font-size: 20px;
		text-align: center;
		color: #000;
		border: solid 2px #3E345D;
		border-radius: 8px;
		width: 120px;
		height: 50px;
		transition: 0.3s ease;
	}
		#log_sign_links a:hover {
			background: #3E345D;
			color: #fff;
		}
footer {
	height: 400px;
	width: 100%;
	background: #3E345D;
	margin-top: 75px;
	bottom: 0;
	position: relative;
}
/*info page*/

#home h1 {
	color: #E2F9D5;
	text-align: center;
	padding-top: 20%;
	font-size: 70px;
	text-shadow: 2px 2px 2px black;
}
#home h3 {
	color: #D0CCDB;
	text-align: center;
	font-size: 35px;
	text-shadow: 2px 2px 2px black;
}
#home h4 {
	color: #D0CCDB;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
}
#logregbox {
	padding: 60px;
}
#home h4 {
	padding: 20px;
}
#logregbox {
	display: block;
	margin: 0 auto;
	text-align: center;
}
#logreg {
	display: inline-flex;
	flex-direction: horizontal;
	align-items: center;
	justify-content: center;
}
	#logreg h3 {
		padding: 15px;
	}
	#logreg a {
		text-decoration: none;
		color: #D0CCDB;
	}

.box_container_container {
	margin: 55px auto;
	display: block;
	width: 600px;
	height: auto;
	/*background: #658A5E;
	border: solid #CFD18E;
	border-radius: 15px;*/
}
.box_container {
	display: flex;
	flex-direction: vertical;
	align-items: center;
	justify-content: center;
	margin: 70px auto;
	height: 130px;
	width: 300px;
	background: #F0F0F6;
	color: #333233;
	border: solid 3px #d8d3e8;
	border-radius: 10px;
}
.group_box h3 {
	margin: 0 auto;
	text-align: center;
	line-height: 120px;
}
	.group_box h3 a {
		text-decoration: none;
		color: #333233;
		display: block;
		height: 130px;
		width: 300px;
	}
.new_group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 45px;
	height: auto;
	width: auto;
	background: #F0EFF5;
	border: solid #3E345D;
	border-radius: 15px;
}
.new_group label, .new_group a {
	color: #3E345D;
}

.container h1 {
	color: #E2F9D5;
	text-align: center;
	padding: 5%;
	font-size: 70px;
	text-shadow: 0 1px 3px grey;
}

.image {
	display: block;
}
.image img {
	max-width: 500px;
	max-height: 500px;
	border: solid #3E345D;
	border-radius: 15px;
}
.group_info {
	display: block;
	padding-left: 30px;
}
.edit_back {
	margin: 20px auto;
	text-align: center;
}
.new_group_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: auto;
	width: auto;
	margin: 0 auto;
}
.create_event {
	display: flex;
	align-items: center;
	justify-content: center;
}
.create_event a {
	border: none;
	border-radius: 4px;
	background: #3E345D;
	color: #fff;
	height: 50px;
	width: 130px;
	margin: 20px auto;
	padding: 13px;
	text-decoration: none;
	transition: 0.3s ease;
	text-align: center;
}
	.create_event a:hover {
			background-color: #5f5287;
		}













/*navbar*/
nav {
	width: 100%;
	background-color: #413560;
	position: fixed;
	top: 0;
}
nav h1 {
	padding: 30px 20px;
	color: #E2F9D5;
}
nav a
{
  text-decoration: none;
  color: #E2F9D5;
}
nav a:hover {
	text-decoration: none;
	color: #E2F9D5;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  height: 100%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #E2F9D5;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #161B31;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 400px;
  height: 1500px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #e6e2eb;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0); 
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle a {
	text-decoration: none;
	color: #161B31;
  	transition: color 0.3s ease;
}
#menuToggle a:hover {
	color: #3E345D;
}

#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}
.sign_up_container {
	display: flex;
	flex-direction: vertical;
	align-items: center;
	justify-content: center;
	margin: 20px auto;
	width: 300px;
	padding-bottom: 50px;
	background: #F0EFF5;
	border: solid #3E345D;
	border-radius: 15px;
}
.sign_up_container .actions {
	text-align: center;
}
.sign_up_container .field {
	margin: 10px;
	text-align: center;
}
.sign_up_container label {
	font-size: 20px;
	padding-top: 15px;
	color: #3E345D;
}
#send_instructions {
	margin-top: 40px;
}
#user_remember_me {
	margin-right: 5px;
}
#user_remember_me input:checked {
	background-color: red;
}
.sign_up_forgot {
	text-align: center;
	color: #3E345D;
}
.actions {
	display: flex;
	align-items: center;
	justify-content: center;
}
.actions input {
	border: none;
	border-radius: 4px;
	background: #3E345D;
	color: #fff;
	height: 50px;
	width: 130px;
	margin: 20px 0;
}
	.actions input:hover {
		cursor: pointer;
	}
input#group_image {
	border: #3E345D;
	border-radius: 4px;
	background: #ABB0BA;
	color: #fff;
	height: 50px;
	width: 230px;
}
/*navbar*/


img.group-show{
	width: 400px;
	height: auto;
}
.group_container {
	display: block;
	margin: 0 auto;
	width: 1050px;
}
.group-box {
	padding: 10px;
	background: #F0F0F6;
	border: solid 3px #d8d3e8;
	border-radius: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	line-height: 35px;
	width: 1050px;
	margin: 30px auto;
}
	.group-box p {
		display: inline-block;
		padding: 30px;
	}
	.group-box ul {
		width: 500px;
	}
	.group-box li:first-child {
		margin-top: 20px;
	}
	.group-box li:nth-child(6) {
		margin-bottom: 35px;
	}
	#join_this_group {
		border: none;
		border-radius: 4px;
		background: #3E345D;
		color: #fff;
		height: 50px;
		width: 130px;
		margin: 20px 0;
		padding: 13px;
		text-decoration: none;
		transition: 0.3s ease;
	}
		#join_this_group:hover {
			background-color: #5f5287;
		}
#join {
	padding: 0;
}
	#join a {
		border: none;
		border-radius: 4px;
		background: #3E345D;
		color: #fff;
		height: 50px;
		width: 130px;
		margin: 20px 0;
		padding: 13px;
		text-decoration: none;
		transition: 0.3s ease;
	}
		#join a:hover {
			background-color: #5f5287;
		}
.group-box p a {
	color: #3E345D;
}

img.group-index{
	display: cover;
	max-width: 500px;
	max-height: 500px;
	/*border: solid #3E345D;*/
	border-radius: 15px;
}

.group-box ul {
	list-style-type: none;
	max-width: 500px;
	color: #383a3f;
}


.group-box li:first-child {
	font-size: 24px;
	font-weight: 700;
	color: #3E345D;
}
.group-box li:nth-of-type(2) {
	font-weight: 700;
}
